@keyframes in-pregress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes star-flash {
	0% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.9;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 0.5;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 0.7;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.9;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes line-dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes icon-translate {
	0% {
		background-position: 0px 50%;
	}
	100% {
		background-position: 65px 50%;
	}
}

@keyframes icon-translate-leave {
	to {
		background-position: 0px 50%;
	}
}