@keyframes in-pregress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes star-flash {
	0% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.9;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 0.5;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 0.7;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.9;
	}
	80% {
		opacity: 0;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes line-dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes single-wave {
	0% {
		r: 5;
		opacity: 0;
	}

	50% {
		r: 20;
		opacity: 1;
	}

	100% {
		r: 35;
		opacity: 0;
	}
}


@keyframes single-clip {
	0% {
		x: 78px;
		y: 53px;
		width: 24px;
		height: 24px;
	}
	100% {
		x: 78px;
		y: 33px;
		width: 44px;
		height: 44px;
	}
}

@keyframes circle-wave {
	0% {
		opacity: 0;
		r: 0;
	}
	20% {
		opacity: 1;
		r: 5
	}
	21% {
		opacity: 0;
		r: 0;
	}
	100% {
		opacity: 0;
		r: 0;
	}
}

@keyframes icon-translate {
	0% {
		background-position: 0px 50%;
	}
	100% {
		background-position: 65px 50%;
	}
}

@keyframes icon-translate-leave {
	to {
		background-position: 0px 50%;
	}
}