// html {
//     font-size: 9px
// }
// @media screen and (min-width:321px) and (max-width:375px) {
//     html {
//         font-size: 10px
//     }
// }
// @media screen and (min-width:376px) and (max-width:414px) {
//     html {
//         font-size: 12px
//     }
// }
// @media screen and (min-width:415px) and (max-width:639px) {
//     html {
//         font-size: 15px
//     }
// }
.fp-slidesContainer {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

body {
    &.modal-open {
        @media (max-width: $screen-sm-min) {
            overflow: hidden;
            position: fixed;
        }
    }
}

.site-header {
    .menu {
        svg {
            path {
                fill: #efba00;
            }
        }
    }
    &.black {
        background-color: rgba(9, 7, 0, 0.8);
    }
    @media (max-width: $screen-md-min) {
        transform: translate3d(0px, 0px, 0px);
        position: fixed;
        width: 100%;
        z-index: 101;
        top: 0px;
        &.black {
            background-color: rgba(9, 7, 0, 0.8);
        }
        &.active {
            transition: background-color 1s;
            background-color: rgba(9, 7, 0, 0.8);
            height: 100%;
            .nav {
                display: block;
            }
        }
        .logo-wrap {
            height: 50px;
            line-height: 50px;
            padding-left: 15px;
            .logo {
                height: 30px;
            }
        }
        .menu {
            position: absolute;
            right: 15px;
            top: 10px;
            .iconfont {
                font-size: 24px;
                color: #efba00;
            }
            svg {
                path {
                    fill: #efba00;
                }
            }
        }
        .nav {
            display: none;
            height: calc(100% - 50px);
            li {
                height: 16.66667%;
                display: table;
                width: 100%;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                opacity: 0;
                a {
                    display: table-cell;
                    vertical-align: middle;
                    color: #efba00;
                    font-size: 18px;
                    .iconfont {
                        font-size: 24px;
                        margin-right: 10px;
                        &.pull-right {
                            margin-right: -6px;
                        }
                    }
                    &:hover,
                    &:focus {
                        background: transparent;
                        color: #ffcf0d;
                    }
                }
            }
        }
    }
    @media (min-width: $screen-md-min) {
        position: fixed;
        width: 100%;
        line-height: 78px;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0 50px;
        @media (max-width: $screen-xs-min) {
            padding: 0 15px;
            line-height: 50px;
            .logo {}
        }
        .tel,
        .menu {
            font-size: 20px;
            color: #ffcf0d;
            position: relative;
            z-index: 10;
            opacity: 0;
            .iconfont {
                font-size: 24px;
                transition: color 500ms;
            }
            @media (min-width: $screen-lg-min) {
                opacity: 1;
            }
        }
        .menu {
            opacity: 0;
            cursor: pointer;
            margin-left: 10px;
            .iconfont {
                font-size: 42px;
            }
            &:hover {
                .iconfont {
                    color: lighten(#ffcf0d, 20%);
                }
            }
            @media (max-width: $screen-lg-min) {
                opacity: 1;
            }
        }
        .nav {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            z-index: 0;
            @media (max-width: $screen-lg-min) {
                left: 10%;
            }
            > li {
                float: none;
                display: inline-block;
                @media (max-width: $screen-lg-min) {
                    opacity: 0;
                }
                > a {
                    padding: 0 20px;
                    @media (max-width: $screen-lg-min) {
                        padding: 0 10px;
                    }
                    font-size: 16px;
                    color: #ffffff;
                    transition: color .5s;
                    .iconfont {
                        display: none;
                    }
                    &:hover,
                    &:focus {
                        background: transparent;
                        color: #ffcf0d;
                    }
                }
                &.active {
                    > a {
                        color: #ffcf0d;
                    }
                }
            }
        }
        &.gray {
            .nav {
                > li {
                    > a {
                        color: #333;
                        &:hover {
                            background: transparent;
                            color: #ffcf0d;
                        }
                    }
                    &.active {
                        > a {
                            color: #ffcf0d;
                        }
                    }
                }
            }
        }
        &.black {}
    }
}

.fp-enabled {
    .site-header {
        background-color: transparent;
        &.active {
            @media (max-width: $screen-md-min) {
                background-color: rgba(9, 7, 0, 0.8);
            }
        }
    }
}

.site-header-other {
    line-height: 80px;
    height: 80px;
    z-index: 200;
    padding: 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    .tel,
    .menu {
        font-size: 20px;
        color: #333333;
        position: relative;
        z-index: 10;
        .iconfont {
            font-size: 24px;
            transition: color 500ms;
        }
    }
    .nav {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding-right: 50px;
        @media (max-width: $screen-lg-min) {
            text-align: right;
            padding-right: 0px;
        }
        z-index: 0;
        > li {
            float: none;
            display: inline-block;
            margin-left: -3px;
            > a {
                padding: 0 20px;
                font-size: 16px;
                color: #333333;
                transition: color .2s, background-color .5s;
                &:hover,
                &:focus {
                    background-color: #ffcf0d;
                    color: #ffffff;
                }
                .iconfont {
                    display: none;
                }
            }
            &.active {
                > a {
                    background-color: #ffcf0d;
                    color: #ffffff;
                }
            }
        }
    }
    &.black {
        background-color: #000000;
        .tel,
        .menu {
            color: #ffcf0d;
            .iconfont {
                font-size: 24px;
                transition: color 500ms;
            }
        }
        .nav {
            > li {
                float: none;
                display: inline-block;
                margin-left: -3px;
                > a {
                    padding: 0 20px;
                    font-size: 16px;
                    color: #ffffff;
                    transition: color .2s, background-color .5s;
                    &:hover,
                    &:focus {
                        background-color: transparent;
                        color: #ffcf0d;
                    }
                }
                &.active {
                    > a {
                        background-color: transparent;
                        color: #ffcf0d;
                    }
                }
            }
        }
    }
    @media (max-width: $screen-md-min) {
        line-height: 50px;
        height: 50px;
        padding-right: 0px;
        text-align: left;
        padding-left: 10px;
        &.black {
            background-color: rgba(9, 7, 0, 0.9);
        }
        &.active {
            transition: background-color 1s;
            background-color: rgba(9, 7, 0, 0.9);
            height: 100%;
            .nav {
                display: block;
                position: static;
            }
        }
        .logo-wrap {
            height: 50px;
            line-height: 50px;
            padding-left: 15px;
            display: block;
            .logo {
                height: 30px;
            }
        }
        .menu {
            position: absolute;
            right: 15px;
            top: 5px;
            .iconfont {
                font-size: 24px;
                color: #efba00;
            }
            svg {
                path {
                    fill: #efba00;
                }
            }
        }
        .nav {
            display: none;
            height: calc(100% - 50px);
            padding-right: 0;
            li {
                height: 16.66667%;
                display: table;
                width: 100%;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                opacity: 0;
                text-align: left;
                a {
                    display: table-cell;
                    vertical-align: middle;
                    color: #efba00;
                    font-size: 18px;
                    background: transparent;
                    .iconfont {
                        font-size: 24px;
                        margin-right: 10px;
                        display: inline-block;
                        &.pull-right {
                            margin-right: -6px;
                        }
                    }
                    &:hover,
                    &:focus {
                        background: transparent;
                        color: #ffcf0d;
                    }
                }
                &.active {
                    > a {
                        background-color: transparent;
                        color: #ffcf0d;
                    }
                }
            }
        }
    }
}

.sub-nav {
    background: url(../images/j20.jpg) no-repeat center center;
    height: 106px;
    background-size: cover;
    line-height: 106px;
    .col {
        float: left;
        width: 20%;
        line-height: 106px;
        text-align: center;
        .icon {
            width: 60px;
            height: 60px;
            background-color: #ffcf0d;
            line-height: 60px;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            .iconfont {
                font-size: 28px;
                color: #9f7400;
            }
        }
        .title {
            color: #ffcf0d;
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            text-align: left;
            .count {
                font-size: 26px;
            }
            super {
                vertical-align: top;
                margin-left: 3px;
            }
            p {
                color: #fff;
                margin: 5px 0 0 0;
            }
        }
    }
}

.fp-section {
    .footer {
        background-color: #1e1c01;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 10px 0;
        .list-inline {
            margin-bottom: 0;
        }
        .tools {
            padding-right: 20px;
            a {
                color: #fff;
                .iconfont {
                    font-size: 28px;
                    font-weight: normal;
                }
                &:hover {
                    color: #ffcf0d;
                }
            }
        }
        .links {
            a {
                color: #ffffff;
            }
        }
        .copyright-wrap {
            color: #747474;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}

.site-footer {
    background-color: #1e1c01;
    padding: 10px 0;
    position: relative;
    .list-inline {
        margin-bottom: 0;
    }
    .tools {
        padding-right: 20px;
        a {
            color: #fff;
            display: block;
            cursor: pointer;
            .iconfont {
                font-size: 28px;
                font-weight: normal;
            }
            &:hover,
            &:focus {
                outline: none;
                color: #ffcf0d;
            }
        }
    }
    .links {
        a {
            color: #ffffff;
        }
        @media (max-width: $screen-xs-min) {
            text-align: center;
        }
    }
    .copyright-wrap {
        color: #747474;
        margin-top: 10px;
        margin-bottom: 0;
        @media (max-width: $screen-xs-min) {
            text-align: center;
        }
    }
    &.white {
        background-color: #fff;
        .links {
            a {
                color: #333;
            }
        }
        .tools {
            a {
                .iconfont {
                    color: #b2b2b2;
                }
                &:hover,
                &:focus {
                    outline: none;
                    color: #ffcf0d;
                    .iconfont {
                        color: #ffcf0d;
                    }
                }
            }
        }
    }
}

.elevator {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
    margin-top: -100px;
    .wrap {
        background-color: rgba(0, 0, 0, 0.7);
        width: 50px;
        border-radius: 8px 0 0 8px;
        a {
            color: #fff;
            display: block;
            line-height: 50px;
            width: 50px;
            text-align: center;
            .iconfont {
                font-size: 32px;
            }
            &:hover {
                color: #ffcf0d;
            }
        }
    }
    a.close {
        display: block;
        width: 50px;
        line-height: 50px;
        text-align: center;
        .iconfont {
            font-size: 28px;
        }
    }
}

.btn-a {
    @include button-variant(#896e02, #ffcf0d, #ffcf0d);
}

.btn-b {
    @include button-variant(#fff, transparent, #fff);
    padding: 10px 40px;
    font-size: 18px;
}

.btn-c {
    @include button-variant(#305588, transparent, #305588);
    padding: 10px 40px;
    font-size: 18px;
}
