// html {
//     font-size: 9px
// }

// @media screen and (min-width:321px) and (max-width:375px) {
//     html {
//         font-size: 10px
//     }
// }

// @media screen and (min-width:376px) and (max-width:414px) {
//     html {
//         font-size: 12px
//     }
// }

// @media screen and (min-width:415px) and (max-width:639px) {
//     html {
//         font-size: 15px
//     }
// }

.site-header {
    position: fixed;
    width: 100%;
    line-height: 100px;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 50px;
    .logo {

    }
    .tel {
        font-size: 20px;
        color: #ffcf0d;
        .iconfont {
            font-size: 24px;
        }
    }
    .nav {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        > li {
            float: none;
            display: inline-block;
            > a {
                padding: 0 20px;
                font-size: 16px;
                color: #ffffff;
                transition: color .5s;
                &:hover {
                    background: transparent;
                    color: #ffcf0d;
                }
            }
            &.active {
                > a {
                    color: #ffcf0d;
                }
            }
        }
    }
}