.page-news-list {
    padding-top: 80px;
    background-color: #000;
    @media (max-width: $screen-md-min) {
        padding-top: 50px;
    }
    .news {
        background: url(../images/j17.jpg) no-repeat center center;
        background-size: cover;
        background-color: #fff;
        overflow: hidden;
        .header-mask {
            background-color: rgba(0, 0, 0, 0.75);
            height: 80px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
        .col-news {
            float: left;
            width: 20%;
            position: relative;
            height: 25%;
            float: left;
            width: 50%;
            max-height: 200px;
            min-height: 200px;
            position: relative;
            background: rgba(0, 0, 0, 0.75);
            border-right: 1px solid rgba(255, 255, 255, 0.4);
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            padding: 0 15px 20px;
            text-align: right;
            cursor: pointer;
            overflow: hidden;
            &.title {
                background-color: #ffcf0d;
                color: #fff;
                text-align: center;
                font-size: 72px;
                font-family: sans-serif;
                line-height: 200px;
                transition: transform 1.2s 1s, opacity 1s 0.8s, color 0.5s, background-color 0.5s;
                overflow: hidden;
                .vmc {
                    display: table;
                    width: 100%;
                    height: 100%;
                    .vm {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
            .day {
                color: rgba(255, 255, 255, 0.3);
                font-size: 56px;
                transition: color 0.5s;
                margin-bottom: 10px;
            }
            .year-month,
            .detail {
                color: rgba(255, 255, 255, 0.4);
                font-size: 16px;
                margin-top: -20px;
                transition: color 0.5s;
            }
            .title {
                color: #fff;
                font-size: 16px;
                transition: color 0.5s;
            }
            .detail {
                margin-top: 10px;
                transition: color 0.5s;
            }
            @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
                width: 50%;
                height: 25%;
                &:nth-child(2n + 1) {}
                &:nth-of-type(4n + 1),
                &:nth-of-type(4n + 2) {}
                &:nth-of-type(4n + 3),
                &:nth-of-type(4n + 4) {}
            }
            @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
                width: 50%;
                height: 25%;
                &:nth-child(2n + 1) {}
                &:nth-of-type(4n + 1),
                &:nth-of-type(4n + 2) {}
                &:nth-of-type(4n + 3),
                &:nth-of-type(4n + 4) {}
            }
            @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
                width: 33.333%;
                height: 33.333%;
            }
            @media (min-width: $screen-lg-min) {
                width: 20%;
                height: 25%;
            }
            padding: 0 15px;
            text-align: right;
            cursor: pointer;
            overflow: hidden;
            transition: transform 1.2s 1s,
            opacity 1s 0.8s,
            background-color 0.5s;
            &:hover {
                background-color: rgba(0, 90, 171, 0.8);
                .day,
                .year-month,
                .title,
                .detail {
                    color: #fff;
                }
            }
        }
        &.active {
            .col-news {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.page-news-detail {
    background-color: #f0f1f1;
    padding-top: 80px;
    @media (max-width: $screen-md-min) {
        padding-top: 50px;
    }
    .main-content {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .col-main {
        padding-right: 40px;
        h1.title {
            text-align: center;
            font-size: 24px;
        }
        .info {
            text-align: center;
            color: #999;
            margin: 15px 20px;
            li {
                margin: 0 20px;
            }
        }
        .content {
            border-bottom: 1px solid #d8d8d8;
            margin-bottom: 40px;
            p {
                line-height: 1.8;
                margin: 30px 0;
            }
        }
        .prev-article,
        .next-article {
            margin: 10px 0;
            a {
                color: inherit;
                transition: color 0.3s;
                &:hover {}
            }
        }
    }
    .col-side {
        padding-left: 40px;
        padding-top: 20px;
        .head {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .hot {
            li {
                border-bottom: 1px dotted #a8a8a8;
                line-height: 40px;
                height: 40px;
                overflow: hidden;
                a {
                    color: #666666;
                    display: block;
                    transition: transform 0.5s;
                    span {
                        display: block;
                    }
                }
                &:hover {
                    a {
                        transform: translate3d(0, -50%, 0);
                        span:nth-child(2) {
                            color: #ffcf0d;
                        }
                    }
                }
            }
        }
        .other-info {
            border-bottom: 1px solid #d8d8d8;
            margin-top: 20px;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .address {}
    }
    @media (max-width: $screen-md-min) {
        .main-content {
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .col-main {
            padding-right: 15px;
            h1.title {
                text-align: center;
                font-size: 16px;
            }
            .info {
                margin: 10px 0px;
                text-align: left;
                font-size: 12px;
                li {
                    margin: 0px;
                }
            }
        }
    }
}
