.page-site-map {
    .section-1 {
        background: url(../images/j29.jpg) no-repeat top center;
        background-size: cover;
        .list-inline {
            &.list-nav {
                margin-top: 50px;
                font-size: 20px;
                li {
                    margin: 5px 30px;
                    a {
                        color: #222;
                        &:hover {
                            color: lighten(#222, 20%);
                        }
                    }
                }
            }
        }
        .footer {
        	text-align: left;
        }
    }
}
