@import "variable";
@import "iconfont";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower
//公共模块
@import "common";
@import "animate";
.page-home {
    .section {
        &.banner {
            .slide {
                .container-fluid {
                    text-align: center;
                    width: 100%;
                    height: 100%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: url(../images/p02.png) left top;
                }
                .layer-container {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    .layer {
                        text-align: right;
                        color: #ffcf0d;
                        position: absolute;
                        &.layer-1 {
                            left: 50%;
                            top: 50%;
                            margin-top: -125px;
                            margin-left: -30px;
                            .en {
                                font-size: 46px;
                                display: block;
                            }
                            .cn {
                                font-size: 20px;
                                display: block;
                                margin-bottom: -10px;
                            }
                        }
                        &.layer-2 {
                            left: 50%;
                            top: 50%;
                            margin-top: -75px;
                            margin-left: -400px;
                            font-size: 145px;
                            letter-spacing: 55px;
                        }
                        &.layer-3 {
                            position: absolute;
                            background: url(../images/p05.png) no-repeat -30px 64px;
                            ;
                            width: 1035px;
                            height: 472px;
                            top: 50%;
                            margin-top: -236px;
                            left: 50%;
                            margin-left: -517.5px;
                            .star {
                                position: absolute;
                                width: 11px;
                                height: 11px;
                                background: url(../images/p06.png) no-repeat center center;
                                animation-name: flash;
                                animation-duration: 5s;
                                animation-iteration-count: infinite;
                                &.star-1 {
                                    left: 104px;
                                    top: 194px;
                                    animation-duration: 5s;
                                }
                                &.star-2 {
                                    left: 248px;
                                    top: 194px;
                                    animation-duration: 6s;
                                }
                                &.star-3 {
                                    left: 309px;
                                    top: 194px;
                                    animation-duration: 8s;
                                }
                                &.star-4 {
                                    left: 455px;
                                    top: 194px;
                                    animation-duration: 8.2s;
                                }
                                &.star-5 {
                                    left: 510px;
                                    top: 194px;
                                    animation-duration: 12s;
                                }
                                &.star-6 {
                                    left: 658px;
                                    top: 194px;
                                    animation-duration: 9s;
                                }
                                &.star-7 {
                                    left: 713px;
                                    top: 194px;
                                    animation-duration: 6s;
                                }
                                &.star-8 {
                                    left: 860px;
                                    top: 194px;
                                    animation-duration: 5s;
                                }
                                &.star-9 {
                                    left: 104px;
                                    top: 340px;
                                    animation-duration: 7060ms;
                                }
                                &.star-10 {
                                    left: 248px;
                                    top: 340px;
                                    animation-duration: 6020ms;
                                }
                                &.star-11 {
                                    left: 309px;
                                    top: 340px;
                                    animation-duration: 7s;
                                }
                                &.star-12 {
                                    left: 455px;
                                    top: 340px;
                                    animation-duration: 8s;
                                }
                                &.star-13 {
                                    left: 510px;
                                    top: 340px;
                                    animation-duration: 6000ms;
                                }
                                &.star-14 {
                                    left: 658px;
                                    top: 340px;
                                    animation-duration: 6600ms;
                                }
                                &.star-15 {
                                    left: 713px;
                                    top: 340px;
                                    animation-duration: 5400ms;
                                }
                                &.star-16 {
                                    left: 860px;
                                    top: 340px;
                                    animation-duration: 8800ms;
                                }
                            }
                        }
                    }
                }
                .brand {
                    &.brand-1 {
                        h1 {
                            font-size: 72px;
                            color: #fff;
                            margin: 0;
                            text-align: center;
                            font-weight: normal;
                            small {
                                margin-top: 10px;
                                display: block;
                                font-size: 26px;
                                color: #fff;
                            }
                        }
                    }
                }
                &.slide-1 {
                    background: url(../images/j01.jpg) no-repeat center center;
                    background-size: cover;
                    position: relative;
                }
                &.slide-2 {
                    background: url(../images/j03.jpg) no-repeat center center;
                    background-size: cover;
                    position: relative;
                }
                &.slide-3 {
                    background: url(../images/j04.jpg) no-repeat center center;
                    background-size: cover;
                    position: relative;
                }
            }
            .slide-nav {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                width: 100%;
                height: 20px;
                bottom: 0;
                left: 0;
                z-index: 1;
                overflow: hidden;
                li {
                    float: left;
                    height: 100%;
                    border-bottom: 6px solid #ffcf0d;
                    position: relative;
                    cursor: pointer;
                    .split {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 13px;
                        right: 0px;
                        top: 1px;
                        background: #ffcf0d;
                        z-index: 1;
                    }
                    .bar {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        left: 0px;
                        top: 6px;
                        background: transparent;
                        z-index: 2;
                        // transform-origin: 0% 50%;
                        // transform: scale(0,1);
                        // border-bottom: 6px solid #005aab;
                        // transition: width 3s linear;
                        border-bottom: 6px solid #005aab;
                    }
                    &.ended {
                        border-bottom-color: #005aab;
                        .split {
                            background-color: #005aab;
                        }
                        .bar {
                            transform: scale(1, 1);
                        }
                    }
                    &:last-child {
                        .split {
                            width: 0px;
                            height: 0px;
                        }
                    }
                }
            }
            .arrow {
                &.arrow-down {
                    width: 95px;
                    height: 33px;
                    background: url(../images/p08.png) no-repeat center center;
                    position: absolute;
                    left: 50%;
                    margin-left: -47.5px;
                    bottom: 70px;
                    z-index: 2;
                    animation: slideOutDown 2s infinite, fadeIn 2s infinite;
                }
            }
        }
        &.business {
            background: url(../images/j02.jpg) no-repeat center center;
            background-size: cover;
            .title {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/p09.png) no-repeat center top;
                left: 0;
                top: 0px;
                transform: translate3d(0, -20%, 0);
                transition: transform 1s;
            }
            &.active {
                .title {
                    transform: translate3d(0, 20%, 0px);
                }
            }
            .business-item {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                transform: translate3d(0, 200%, -10px);
                transition: transform 1s, opacity 1s;
                opacity: 0;
                .svg-wrap {
                    width: 156px;
                    height: 156px;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    .translate-wrap {
                        background: url(../images/p11.png) repeat-x;
                        background-position: 50% 50%;
                        width: 65px;
                        height: 65px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -32.5px;
                        margin-top: -32.5px;
                        transition: background-position 0.5s linear;
                        animation: icon-translate-leave 1s linear both;
                    }
                    img.icon {
                        width: 65px;
                        height: 65px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -32.5px;
                        margin-top: -32.5px;
                        transition: transform 0.5s;
                    }
                    svg {
                        &.icon {
                            width: 100%;
                            height: 100%;
                            transition: transform 0.5s;
                            .arc-a {
                                fill: transparent;
                                stroke-width: 3;
                                stroke: #ffcf10;
                            }
                            .arc-b {
                                fill: transparent;
                                stroke-width: 3;
                                stroke: #fff;
                            }
                            line {
                                stroke: #ffcf10;
                                stroke-width: 2;
                                visibility: hidden;
                            }
                        }
                    }
                    &:hover {
                        img.icon {
                            &.scale {
                                transform: scale(0.9, 0.9);
                            }
                        }
                        .translate-wrap {
                            // background-position: 65px 50%;
                            animation: icon-translate 1s linear infinite both;
                        }
                        svg.icon {
                            transform: scale(1.2, 1.2);
                            line {
                                visibility: visible;
                                stroke-dashoffset: -1500;
                                animation: line-dash 10s linear infinite;
                                &:nth-child(1) {
                                    animation-duration: 15s;
                                }
                                &:nth-child(2) {
                                    animation-duration: 13s;
                                }
                                &:nth-child(3) {
                                    animation-duration: 12s;
                                }
                                &:nth-child(4) {
                                    animation-duration: 21s;
                                }
                                &:nth-child(5) {
                                    animation-duration: 17s;
                                }
                                &:nth-child(6) {
                                    animation-duration: 18s;
                                }
                                &:nth-child(7) {
                                    animation-duration: 19s;
                                }
                                &:nth-child(8) {
                                    animation-duration: 23s;
                                }
                                &:nth-child(9) {
                                    animation-duration: 12s;
                                }
                            }
                        }
                    }
                }
                h2 {
                    font-size: 24px;
                    color: #fff;
                }
                p {
                    font-size: 14px;
                    color: #fff;
                    line-height: 1.8;
                }
            }
            &.active {
                .business-item {
                    opacity: 1;
                    transform: translate3d(0, 40%, -10px);
                }
            }
        }
        &.cases {
            padding-top: 80px;
            background-color: #fff;
            .case {
                transition: transform 2s 0s, opacity 1s 0s;
                opacity: 0;
                position: relative;
                overflow: hidden;
                z-index: 0;
                img {
                    transition: transform 0.5s;
                }
                &:nth-child(even){
                    transform: translate3d(0, -100%, 0);
                }
                &:nth-child(odd){
                    transform: translate3d(0, 100%, 0);
                }
                &:hover {
                    z-index: 1;
                    img {
                        transform: scale(1.2,1.2);
                    }
                }
            }
            div[class*="col-"] {
                padding: 0;
                height: 33.333%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &.active {
                .case {
                    opacity: 1;
                    transform: translate3d(0, 0%, 0);
                }
            }
        }
    }
}
