@import "variable";
@import "iconfont";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower
//公共模块
@import "common";

@import "animate";

.page-home {
    .section {
        &.banner {
            .slide {
                .container-fluid {
                    text-align: center;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: url(../images/p02.png) left top;
                }
                &.slide-1 {
                    background: url(../images/j01.jpg) no-repeat center center;
                    background-size: cover;
                    position: relative;
                    .layer-container {
                        display: inline-block;
                        .layer {
                            text-align: right;
                            color: #ffcf0d;
                            &.layer-1 {
                                padding-right: 55px;
                                margin-bottom: -20px;
                                .en {
                                    font-size: 46px;
                                    display: block;
                                }
                                .cn {
                                    font-size: 20px;
                                    display: block;
                                    margin-bottom: -10px;
                                }
                            }
                            &.layer-2 {
                                font-size: 150px;
                                letter-spacing: 55px;
                                margin-top: -20px;
                            }
                        }
                    }
                }
                &.slide-2 {
                    background: url(../images/j03.jpg) no-repeat center center;
                    background-size: cover;
                    position: relative;
                }
                &.slide-3 {
                    background: url(../images/j04.jpg) no-repeat center center;
                    background-size: cover;
                    position: relative;
                }
            }
            .slide-nav {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                width: 100%;
                height: 20px;
                bottom: 0;
                left: 0;
                z-index: 1;
                overflow: hidden;
                li {
                    float: left;
                    height: 100%;
                    border-bottom: 6px solid #ffcf0d;
                    position: relative;
                    cursor: pointer;
                    .split {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 13px;
                        right: 0px;
                        top: 1px;
                        background: #ffcf0d;
                        z-index: 1;
                    }
                    .bar {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        left: 0px;
                        top: 6px;
                        background: transparent;
                        z-index: 2;
                        // transform-origin: 0% 50%;
                        // transform: scale(0,1);
                        // border-bottom: 6px solid #005aab;
                        // transition: width 3s linear;
                        border-bottom: 6px solid #005aab;
                    }
                    &.ended {
                        border-bottom-color: #005aab;
                        .split {
                            background-color: #005aab;
                        }
                        .bar {
                            transform: scale(1,1);
                        }
                    }
                    &:last-child {
                      .split {
                        width: 0px;
                        height: 0px;
                      }
                    }
                }
            }
        }
        &.business {
            background: url(../images/j02.jpg) no-repeat center center;
            background-size: 100% 100%;
        }
    }
}
